<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" /> <!-- <= 30 + Xiaomi/MIUI -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" /> <!-- >= API 31 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="ADVNTURE"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name="UserRoles.SelectRoles"
            android:exported="false" />
        <activity
            android:name="letsgohikingpage.LetsGoHiking"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="BluetoothManager.MainFragment"
            android:exported="false" />

        <service
            android:name="BluetoothManager.SerialService"
            android:foregroundServiceType="remoteMessaging|connectedDevice" />
    </application>

</manifest>